/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */

@font-face {
    font-family: 'BeaufortforLOL-MediumItalic';
    font-style: normal;
    font-weight: normal;
    src: src('../fonts/BeaufortforLOL-MediumItalic.ttf'), url('../fonts/BeaufortforLOL-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'BeaufortforLOL-BoldItalic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/BeaufortforLOL-BoldItalic.ttf'), url('../fonts/BeaufortforLOL-BoldItalic.woff') format('woff');
}

/* General Styles */

a,
h3,
p {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

p {
    line-height: 1.5;
}

h1,
h2 {
    font-family: 'BeaufortforLOL-BoldItalic', sans-serif;
}

.header,
.section {
    margin: auto 200px;
}

button {
    padding: 10px 30px;
    background-color: #3882f6;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    min-width: 160px;
    min-height: 50px;
}

button:hover {
    background-color: #fff;
    border: 1px solid #3882f6;
}

button:hover a {
    color: #3882f6;
}

/* Header */

.hero-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/hero.jpg) no-repeat center center fixed;
    background-size: cover;
}


/* Navigation */

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 ;
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#logo {
    font-size: 24px;
    font-family: 'BeaufortforLOL-BoldItalic', sans-serif;
    color: #f9faf8;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #f9faf8;
}

ul a:hover {
    color: #3882f6;
}

/* Hero */

 .hero h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin-bottom: 5px;
 }

.hero h2 {
    font-size: 18px;
    color: #c8aa6e;
    margin-bottom: 30px;
}

.hero {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
}

.info {

    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.info p {
    width: 650px;
    margin-bottom: 30px;
}

.mini-hero {
    max-width: 650px;
    min-height: auto;
    margin-bottom: 40px;
}

/* Abilities */

.section h1 {
    text-align: center;
    margin: 100px 0 50px 0;
}

.abilities {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.ability p {
    color: #1f2937;
    padding: 24px;
    text-align: center;
}


.ability {
    display: flex;
    flex-direction: column;
    margin: 24px;
    border: 2px solid #3882f6;
    border-radius: 10px;
    width: 260px;
}

.ability img{
    max-width: 256px;
    max-height: 256px;
    border-radius: 7px 7px 0 0;
}

/* Inspirational Quote */

.quote-bg {
    background-color: #e5e7eb;
}

.quote {
    min-height: 200px;
    padding: 32px 0;
    text-align: center;
}

.quote p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    margin: 32px 0;
}

.quote h3 {
    color: #000;
    text-align: end;
}

/* Call to Action */

.cta{
    margin-left: auto;
    margin-right: auto;
}

.cta-container {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 32px 72px;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Footer */
footer {
    background-color: #1f2937;
    text-align: center;
    padding: 24px 0;
}